.background 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    text-align: center;
}

.title
{
    font-size: 125px;
    font-family: 'Apple Chancery';
    color: green;
    margin: 15px;
    height: 135px;
}

.description
{
    font-size: 25px;
    color: green;
    margin: 15px auto 40px auto;    
    padding: 0px;
}

.searchbar
{
    height: 90px;
}

.searchbtn
{
    background-color: green; 
    width: 65px;
}


.cuisine
{
    margin-right: 10px; 
    font-size: 15px;
}

.child-userinput 
{
    align-items: center;
    display: inline-block;
    margin: 5px;
}

.child-multchoice 
{
    align-items: center;
    display: inline-block;
    margin: 5px;
}

.child-ranges 
{
    width: 90px;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    background-color: white;
    outline: 1px solid black;
}

.noshow {
    display: none;
    position: absolute;
    margin-top: 5px;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: default;
}
  
.show {
    display: block;
}


.child-block {
    margin: 10px;
    align-items: center;
}

.child-filter
{
    cursor: default;
    align-items: center;
    display: inline-block;
    margin: 3px;
    cursor: default;
}

.child-minmax 
{
    margin: 3px;
    align-items: center;
    display: inline-block;
    width: 60px;
}
